<h1><%= @article.title %> </h1>
<p><%= @article.text %></p>



<!--Выводим список всех комментарие -->
<div>
  <p> <% @article.comments.each do |item| %>
      <i> <%= item.author %>: </i>
      <%= item.body %>
  </br>
      <hr>
    <% end %>
    </div>



<!--ФОРМА для ввода нового комментария-->
<!--Данным методом form_for  выводится базовая форма с шифрованием и методом POST? которая прописывает передачу по адресу article/new-->

<!--в form-for  мы прописывает зависимость для коллекции. первый аргумент - это название коллекции,-->
<!--второй - это создание нового элемента в коллекции, который поможет присвоить ID-ки -->
<h3> Добавить комментарий </h3>
<%= form_for([@article, @article.comments.build]) do |f|  %>

    <%= f.label :body %>
    <br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
