<H1>   Создать новый контакт   </H1>
<!--Подключена локализация из фала config/locate/en.yml -->


<!--Данным методом form_for  выводится базовая форма с шифрованием и методом POST? которая прописывает передачу по адресу article/new-->
<!--Чтобы форма передавала наш POST запрос нужно в первой строчке дописать url для перенаправления. -->

<%= form_for :contact, url:  contacts_path do |f|  %>
  <p>
    <%= f.label :email %>
    <br/>
    <!--    метод text_field создает новое текстовое поля в форме -->
    <%= f.text_field :email %></p>
  <p>
    <%= f.label :message %>
    <br/>
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>