<H1> Свяжитесь с нами </H1>
<!--Данным методом form_for  выводится базовая форма с шифрованием и методом POST? которая прописывает передачу по адресу article/new-->

<!--Чтобы форма передавала наш POST запрос нужно в первой строчке дописать url для перенаправления. -->
<%= form_for :contact, url:  contacts_path do |f|  %>

<!--  делаем проверку для показа ошибок.-->
<!--  Если у нас уже была запись, и в ней есть Ошибки т.е. создалась переменная Contact то показываем ее ошибки-->
<!--  Если ее не было, то просто отображаем страницу с нуля -->
  <% if @contact && @contact.errors.any? %>
    <p>
    <ul>
  <% @contact.errors.full_messages.each do |message| %>
<li><%= message %></li>
    <% end %>
      </ul>
  </p>
  <% end %>


  <p>
    <%= f.label :email %>
    <br/>
    <!--    метод text_field создает новое текстовое поля в форме -->
    <%= f.text_field :email %></p>
  <p>
    <%= f.label :message %>
    <br/>
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.submit "Отправить"%>
  </p>
<% end %>