<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--  добавляем ссылки на Логин. Во второй ссылке добавлен атрибут data-method, т.к. для выхода нам надо использовать методл DELETE -->
<!--URL ссылок получены при ошибочном вводе в URL поле -->

<% if user_signed_in? %>
    <%= link_to "Выйти", destroy_user_session_path , method: :delete %>
  <% else %>
  <%= link_to "Войти", new_user_session_path %>
  <% end %>
<!--  Две строки добавлены при установке DEVISE конструктора -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



  <%= yield %>
    <%= link_to "Список статей", articles_path %> | <%= link_to " Создать статью", "/articles/new" %>
  </body>
</html>
