<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<a href="/users/sign_in"> Войти </a> |  <a href="/users/sign_out" data-method = "delete"> Выйти  </a>
<!--  Две строки добавлены при установке DEVISE конструктора -->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



  <%= yield %>
    <%= link_to "Список статей", articles_path %> | <%= link_to " Создать статью", "/articles/new" %>
  </body>
</html>
